/* PetProfile.css */
.pet-profile-section {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 250px;
}

.pet-profile-section .text-center {
  text-align: center;
}

.pet-profile-section .text-muted {
  color: #6c757d !important;
}

/* CSS for the table */
.pet-profile-section .table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  border-collapse: collapse;


  
}

.pet-profile-section .table th,
.pet-profile-section .table td {
  padding: 0.75rem;
  vertical-align: top;
  border: 1px solid #195ea2;
}

.pet-profile-section .table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  background-color: #328be4;
}

.pet-profile-section .table tbody tr:nth-child(odd) {
  background-color: #92bcf3;
}

.pet-profile-section .table .form-control {
  margin-bottom: 0.5rem;
}

.pet-profile-section .table .btn {
  margin-top: 0.5rem;
}

/* Style for the update button */
.update-btn {
  background-color: #28a745; /* Green color */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.update-btn:hover {
  background-color: #218838; /* Darker green on hover */
}

/* Style for the delete button */
.delete-btn {
  background-color: #dc3545; /* Red color */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-btn:hover {
  background-color: #c82333; /* Darker red on hover */
}

/* Add some spacing between the buttons */
button {
  margin-right: 10px;
  border-radius: 10px;
}
