.dashboard {
    padding-left: 300px;
    width: 80%;
    padding-top: 10px;
    flex: 1;
     
  }
  
  .metrics {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .metric {
    flex: 1;
    margin: 0 10px;
    padding: 20px;
    background-color: #5faafa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 22%;
  }
  
  
  
  