.dashboard {
    padding-left: 300px;
    width: 98%;
    padding-top: 10px;
    flex: 1;
     
  }
  
  .metrics {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .metric {
    flex: 1;
    margin: 0 10px;
    padding: 20px;
    background-color: #ffffff;
    border: 2px solid #2196f3; 
    border-radius: 80px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 22%;
  }
  

  .recent-appointments {
    margin-top: 30px;
  }
  
  .appointments-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .appointments-table th, .appointments-table td {
    border: 1px solid #2196f3;
    padding: 8px;
  }
  
  .appointments-table th {
    background-color: #f4f4f4;
  }
  
  .appointments-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .appointments-table tr:hover {
    background-color: #7cc8fb;
  }




  
  
  
  
  
  .notification-icon {
    position: relative;
    cursor: pointer;
    font-size: 24px;
    color: #2196f3;
  }
  
  .notification-icon::after {
    content: '';
    position: absolute;
    top: -5px;
    right: -5px;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    border: 1px solid white;
  }
  